{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Params.title }}</h1>
      <p class="mt-0">{{ .Params.description }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm section-home">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="row justify-content-center">
          <h2 class="h2 col-lg-7">Download & install 💾</h2>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/retail/gettingstarted/download/">Demo</a></h3>
          <p>Download and try out demo environments for all NP solutions.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/retail/gettingstarted/system_requirements/">System requirements</a></h3>
          <p>Get acquainted with the necessary hardware and software components for running our solutions.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4">Software</h3>
          <p>Install <a href="/docs/retail/gettingstarted/minor_tom/">Minor Tom</a>, <a href="/docs/retail/gettingstarted/hw_connector/">HW Connector</a>, and other software components for running our solutions.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="row justify-content-center">
          <h2 class="h2 col-lg-7">Get started 📚</h2>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="https://www.youtube.com/user/NaviPartnerKbh/videos">Videos 🎬</a></h3>
          <p>Explore the video library and check out our product and service demonstrations, case studies, and training modules.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/retail/gettingstarted/release_notes/">What’s new 📣</a></h3>
          <p>Learn which new features and improvements have been introduced in the newest versions of the NP Retail solution.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/retail/gettingstarted/pos_academy/">POS Academy 🎓</a></h3>
          <p>Get started with a beginner-friendly guide which covers a wide range of features both in Business Central and on POS devices.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="row justify-content-center">
          <h2 class="h2 col-lg-7">Set up 🛠️</h2>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/retail/pos_processes/intro/">Retail 🛒</a></h3>
          <p>Streamline your business operations and provide an exceptional shopping experience for your customers by configuring your POS units, setting up payment options, creating discounts and managing inventory.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/entertainment/intro">Attractions 🕹️</a></h3>
          <p>Create ticket types for all kinds of events and venues and manage ticket sales in the Business Central database. Monitor, and keep track of group events, book guide resources, and create invoices from events.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/hospitality/intro">Hospitality 🍽️</a></h3>
          <p>Get insights into business operations and sales in your restaurant, fast food establishment or café. Track kitchen and bar inventory, and take orders with ease.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/ecommerce/intro">Web stores 🛍️</a></h3>
          <p>Utilize Magento features to build a foundation for a successful omnichannel online business. Show updated information of available goods across the chain’s warehouses and stores, both onsite and online.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/wms/intro">WMS 📦</a></h3>
          <p>Make use of tools and processes for managing and tracking items in warehouse and inventory systems.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/power_bi/intro">Power BI ⚡</a></h3>
          <p>Perform in-depth analyses of the most important business segments to reach optimal strategic decisions. </p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="https://api.navipartner.com/intro">API ⚙️</a></h3>
          <p>Learn more about REST APIs used for managing our solutions.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/providers/intro">External PSPs 💸</a></h3>
          <p>Refer to the guides for establishing integrations with various external payment service providers.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/fiscalization/intro">Fiscalization 🧾</a></h3>
          <p>Learn how to achieve compliance with fiscalization requirements imposed by fiscal laws of specific countries.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="row justify-content-center">
          <h2 class="h2 col-lg-7">Support 🗨️</h2>
        </div>
        <div class="col-lg-5">
          <h3 class="h4">Hotline 📞</h3>
          <p>Request remote support for customers and get help with urgent issues. <br> <a href ="https://get.teamviewer.com/47k3kx8"> For remote support download TeamViewer. </a> <br> For Hotline call +45 7022 0322 and press 1.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4">Ticket system for customers ✍️</h3>
          <p><a href="https://navipartner.zendesk.com/"> Log into our ticketing system </a> and create a ticket detailing less urgent issues you’re experiencing with the POS. <br> If you forgot your username or password, please contact the hotline on +45 7022 0322 and press 1.</p>
        </div>
        <div class="col-lg-5">
          <h3 class="h4"><a href="docs/troubleshooting/intro">Troubleshooting 🚩</a></h3>
          <p>Feeling stuck? Take a look at the answers to some of our customers' frequently asked questions.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
